.father {
    width: 100%;
    height: auto;
    transition: all 1.5s;
}

.base {
    background: blue;
    width: 100%;
    height: 100px;
    /* position: absolute;
    /* animation: upper 1.5s linear alternate; */
    /* transition: all 1s;
    top: calc(100% - 100px);
     */ 
}
@keyframes upper
{
   0% { top: calc(100% - 100px); }
   100% { top: 0 }
}
.children2, .children1, .children3{
    width: 100%;
    height: 984px;

} 
.children1 {
    background: yellow;
}

.children2 {
    background: red;
}

.children3 {
    background: blue;
}